@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F5F1EA;
  color: #1A1A1A;
  font-family: Arial, Helvetica, sans-serif;
}

/* efecto vidrio premium */
.glass {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.6);
}

.watermark {
  filter: blur(2px);
  transform: scale(1.2);
}

button {
  letter-spacing: 0.5px;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
}

.luxury-title {
  font-family: "Playfair Display", serif;
  letter-spacing: 0.3em;
}
